<template>
    <Page heading="Done Issues">
        <IssuesList :issues="doneIssues" />
    </Page>
</template>

<script>
    import Page from '../../components/Page';
    import {mapGetters} from 'vuex';
    import IssuesList from '../../components/IssuesList';
    
    export default {
        computed: {
            ...mapGetters([
                `doneIssues`,
            ]),
        },
        
        components: {
            Page,
            IssuesList,
        },
    };
</script>
