<template>
    <Page heading="Open Issues">
        <AddIssueForm class="mb-5" />
        <IssuesList :issues="openIssues" />
    </Page>
</template>

<script>
    import Page from '../../components/Page';
    import AddIssueForm from '../../components/AddIssueForm';
    import {mapGetters} from 'vuex';
    import IssuesList from '../../components/IssuesList';
    
    export default {
        computed: {
            ...mapGetters([
                `openIssues`,
            ]),
        },
        
        components: {
            IssuesList,
            Page,
            AddIssueForm,
        },
    };
</script>
