<template>
    <Page heading="Issues Tracker" class="home">
        <p>
            Issue tracking systems, commonly referred to as ITS, are software applications that provide a ticketing
            system to record and follow the progress of every issue identified by a computer user until the issue is
            resolved. An issue can be anything from a bug report to customer question to development inquiry.
        </p>
        
        <div class="home__openIssuesButtonContainer d-flex justify-content-center mt-5">
            <b-button :to="issuesOpenRoutePath" variant="success" class="home__openIssuesButtonContainer__button">
                <b-icon-eye />
                View open issues
            </b-button>
        </div>
    </Page>
</template>

<script>
    import Page from '../components/Page';
    import {BIconEye} from 'bootstrap-vue';
    import {issuesOpen} from '../router/routes';

    export default {
        computed: {
            issuesOpenRoutePath() {
                return issuesOpen;
            },
        },
        
        components: {
            Page,
            BIconEye,
        },
    };
</script>

<style lang="scss" scoped>
    @keyframes pulse {
        from {
            transform: scale(1.1);
        }
        
        to {
            transform: scale(1.3);
        }
    }
    
    .home {
        .home__openIssuesButtonContainer {
            .home__openIssuesButtonContainer__button {
                animation: pulse 1s infinite alternate;
            }
        }
    }
</style>
