<template>
    <b-form class="justify-content-center" @submit.prevent="addNewIssue()">
        <b-input-group>
            <b-form-input
                v-model="newIssue"
                placeholder="I have a problem with..."
                :state="validationError ? false : null"
                @input="validationError = null"
            />
    
            <template #append>
                <b-button type="submit" variant="primary">
                    <b-icon-plus />
                    Add
                </b-button>
            </template>
        </b-input-group>
        
        <p class="text-danger mt-1 ml-2" v-show="validationError">{{ validationError }}</p>
    </b-form>
</template>

<script>
    import {BIconPlus} from 'bootstrap-vue';
    import {mapMutations} from 'vuex';
    
    export default {
        data() {
            return {
                newIssue: ``,
                validationError: null,
            };
        },
        
        methods: {
            ...mapMutations([
                `addIssue`,
            ]),
            
            addNewIssue() {
                if (!this.newIssue) {
                    this.validationError = `Cannot be empty`;
                    
                    return;
                }
                
                this.addIssue(this.newIssue);
                this.newIssue = ``;
            },
        },
        
        components: {
            BIconPlus,
        },
    };
</script>
