<template>
    <header class="header">
        <b-container>
            <b-row>
                <b-col>
                    <div class="d-flex justify-content-between align-items-center">
                        <router-link :to="homeRoutePath">
                            <img class="mr-3" alt="Logo" :src="require('@/assets/logo.png')" />
                        </router-link>
                    
                        <b-nav pills>
                            <b-nav-item
                                v-for="link in navigationLinks"
                                :key="link.to"
                                :to="link.to"
                                :active="$route.path === link.to"
                            >
                                <component :is="link.icon" />
                                {{ link.name }}
                            </b-nav-item>
                        </b-nav>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </header>
</template>

<script>
    import {BIconCheck, BIconTrash, BIconClipboard} from 'bootstrap-vue';
    import {issuesOpen, issuesTrashed, issuesDone, home} from '../router/routes';
    import {mapGetters} from 'vuex';
    
    export default {
        computed: {
            ...mapGetters([
                `openIssues`,
                `doneIssues`,
                `trashedIssues`,
            ]),
            
            homeRoutePath() {
                return home;
            },
            
            navigationLinks() {
                return [
                    {
                        name: `Open Issues (${this.openIssues.length})`,
                        to: issuesOpen,
                        icon: BIconClipboard,
                    },
                    
                    {
                        name: `Done Issues (${this.doneIssues.length})`,
                        to: issuesDone,
                        icon: BIconCheck,
                    },
    
                    {
                        name: `Trashed Issues (${this.trashedIssues.length})`,
                        to: issuesTrashed,
                        icon: BIconTrash,
                    },
                ];
            },
        },
        
        components: {
            BIconCheck,
            BIconTrash,
            BIconClipboard,
        },
    };
</script>

<style lang="scss" scoped>
    .header {
        background-color: transparentize(white, 0.1);
        width: 100%;
    }
</style>
