<template>
    <div class="issuesList">
        <div v-if="orderedIssues.length" class="issuesList">
            <div>
                <span class="issuesList__colName">Done</span>
                <span class="issuesList__colName">Trash</span>
                <span class="issuesList__colName">Issue</span>
            </div>
            
            <transition-group name="fade">
                <div
                    v-for="issue in orderedIssues"
                    :key="issue.createdAt"
                    class="issuesList__row d-flex align-items-center"
                >
                    <div class="issuesList__row__col">
                        <b-checkbox
                            :checked="issue.isDone"
                            size="lg"
                            @input="toggleIssueIsDoneState(issue.createdAt)"
                        />
                    </div>
            
                    <div class="issuesList__row__col">
                        <b-icon-trash
                            @click="toggleIssueIsTrashedState(issue.createdAt)"
                            class="issuesList__row__col__deleteIssueIcon"
                        />
                    </div>
            
                    <div class="issuesList__row__col flex-grow-1">
                        <b-form-textarea
                            :value="issue.text"
                            class="issuesList__item__textarea"
                            :max-rows="20"
                            @keyup="handleIssueTextChange($event, issue.createdAt)"
                        />
                    </div>
                </div>
            </transition-group>
        </div>
        
        <div
            v-else
            class="issuesList__nothingFoundIllustrationContainer d-flex flex-column justify-content-center align-items-center"
        >
            <img
                alt="Drawing board"
                class="issuesList__nothingFoundIllustrationContainer__illustration mb-3"
                :src="require('@/assets/illustration-no-issues-found.svg')"
            />
            
            <p>No issues found</p>
        </div>
    </div>
</template>

<script>
    import {BIconTrash} from 'bootstrap-vue';
    import {mapMutations} from 'vuex';
    
    export default {
        props: {
            issues: {
                type: Array,
                required: true,
            },
        },
        
        methods: {
            ...mapMutations([
                `updateIssueText`,
                `toggleIssueIsDoneState`,
                `toggleIssueIsTrashedState`,
            ]),
    
            handleIssueTextChange(event, issueCreatedAt) {
                this.updateIssueText({
                    issueCreatedAt,
                    newText: event.target.value,
                })
            },
        },
        
        computed: {
            orderedIssues() {
                return this.issues.sort((a, b) => {
                    return a.createdAt < b.createdAt ? 1 : -1;
                });
            },
        },
        
        components: {
            BIconTrash,
        },
    };
</script>

<style lang="scss" scoped>
    $actionColumnWidth: 50px;
    
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
    
    .issuesList {
        .issuesList__colName {
            text-align: center;
            
            &.issuesList__colName:not(:last-child) {
                display: inline-block;
                width: $actionColumnWidth;
            }
        }
        
        .issuesList__row {
            &.issuesList__row:nth-child(even) {
                background-color: darken(white, 4);
            }

            &.issuesList__row:hover {
                background-color: darken(white, 10);
            }
            
            .issuesList__row__col {
                width: $actionColumnWidth;
                
                &.issuesList__row__col:not(:last-child) {
                    text-align: center;
                }
                
                .issuesList__row__col__deleteIssueIcon {
                    cursor: pointer;
                }
                
                textarea {
                    border: none;
                    overflow-y: hidden !important;
                    margin-top: -6px;
                    box-shadow: none !important;
                    background-color: transparent !important;
                }
            }
        }
    
        .issuesList__nothingFoundIllustrationContainer {
            margin-top: 80px;
        
            .issuesList__nothingFoundIllustrationContainer__illustration {
                max-width: 300px;
            }
        
            p {
                font-size: 24px;
            }
        }
    }
</style>
