<template>
    <main class="pb-5">
        <h1 class="text-center mb-3">{{ heading }}</h1>
        <slot></slot>
    </main>
</template>

<script>
    export default {
        props: {
            heading: {
                type: String,
                required: true,
            },
        },
    };
</script>
