<template>
    <div class="app">
        <Header class="app__navigation" />
        
        <b-container>
            <b-row>
                <b-col>
                    <router-view />
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import Header from './components/Header';
    
    export default {
        components: {
            Header,
        },
    };
</script>

<style lang="scss" scoped>
    $navigationHeight: 50px;
    
    .app {
        height: 100vh;
        padding-top: $navigationHeight + 50px;
        
        .app__navigation {
            height: $navigationHeight;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
        }
    }
</style>
